@import "tailwindcss";

@theme {
  --color-bg: var(--color-bg);
  --color-bg2: var(--color-bg-secondary);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-primaryHover: var(--color-primary-hover);
  --color-navbar: var(--color-bg);
}

:root {
  --color-bg: #f4f3ee;
  
  --color-text: #000814; 
  
  --color-primary: #F3DE2C; 
  --color-primary-hover: #dfcc1f;
}

