@import "tailwindcss";

@theme {
  --color-bg: var(--color-bg);
  --color-bg2: var(--color-bg-secondary);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-primaryHover: var(--color-primary-hover);
  --color-navbar: var(--color-bg);
}

:root {
  --color-bg: #f0f0f0;
  --color-bg-secondary: #ffffff;

  --color-text: #000814;
  --color-text-secondary: #5e6064;

  --color-primary: #f3de2c;
  --color-primary-hover: #dfcc1f;

  --color-border-subtle: #e5e5e0;
}
